@font-face {
    font-family: 'Lexend', sans-serif;
    src: url(Lexend-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Lexend', sans-serif;
    src: url(Lexend-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: 'Lexend', sans-serif;
    src: url(Lexend-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Lexend', sans-serif;
    src: url(Lexend-Regular.ttf);
    font-weight: 400;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #2C2B30;
    background-image: url("bkgd_index.png");
    background-size: cover;
}


h1 {
    font-family: "Lexend";
    color: #F58F7C;
    font-weight: 800;
    font-size: calc(2rem + 2vw);
    padding-bottom: 2%;
}

h2 {
    font-family: "Lexend";
    color: #D6D6D6;
    text-decoration-line: underline;
    font-weight: 400;
    font-size: calc(1rem + 1vw);
}

p {
    font-family: "Lexend";
    color: #D6D6D6;
    font-weight: 400;
    font-size: calc(1em + 1vw);
}

nav {
    position: absolute;
    background-color: #F58F7C;
    width: 28%;
    height: 75%;
    padding-left: 2%;
    padding-top: 15%;
    margin-left: 72%;
    font-size: calc(2em + 2vw);  
    display: flex;
    text-decoration: none;
}

nav ul {
    font-family: "Lexend";
    font-weight: 700;
    list-style: none;
    text-align: left;
}
nav ul a {
    text-decoration: none;
    color: #D6D6D6;
}

nav a:hover {
    color: #2C2B30;
}


#Top_Page {
    padding-top: 15%;
}

#Top_Page h1 {
    font-size: calc(3rem + 3vw);
    text-align: left;
    padding-left: 5%;
    line-height: 100px;
}

.resume_btn {
  display: inline-block;
  padding: 0.5em 1.7em;
  margin: 0.90em 0.1em 0;
  margin-left: 20%;
  border: 0.16em solid #F58F7C;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  font-family: "Lexend";
  font-weight: "Regular";
  font-size: 30px;
  color: #F58F7C;
  background-color: none;
  text-shadow: 0 0.04em 0.04em rgba(47, 49, 51);
  text-align: center;
  transition: all 0.2s;
}

.resume_btn:hover{
    color: #D6D6D6;
    background-color: #F58F7C;
}

#About_Me {
    margin-top: 50%;
    padding-left: 5%;
}

#About_Me p {
    width: 45%;
    padding-bottom: 5px;
}

#Skills_Page {
    margin-top: 10%;
    padding-left: 5%;
}

#Skills_Page h2 {
    margin-bottom: -2%;
}

.skill_wrapL {
    width: 30%;
    font-family: "Lexend";
    font-weight: 300;
    margin-top: 1.5%;
  }
  
  .skill {
    margin-bottom: 4%;
    position: relative;
    overflow-x: hidden;
  }
  
  .skill p {
    font-size: calc(0.8rem + 0.8vw);
    color: #D6D6D6;
    margin: 0;
    font-weight: 300;
  }
  
  .skill:before {
    width: 100%;
    height: 10px;
    content: "";
    display: block;
    position: absolute;
    background: #D6D6D6;
    bottom: 0;
    opacity: 30%;
    border-radius: 5px;
  }
  
  .skill-bar {
    width: 100%;
    height: 10px;
    background: #F58F7C;
    display: block;
    position: relative;
    border-radius: 5px;
  }
  
  .skill-bar span {
    position: absolute;
    border-top: 5px solid #F58F7C;
    color: #D6D6D6;
    top: -30px;
    padding: 0;
    font-size: 18px;
    padding: 3px 0;
    font-weight: bold;
  }
  
  .skill-bar {
    position: relative;
  }
  
  .skill1 {
    width: 85%;
  }
  
  .skill2 {
    width: 80%;
  }
  
  .skill3 {
    width: 50%;
  }
  
  .skill4 {
    width: 70%;
  }
  
  .skill5 {
    width: 40%;
  }
  
  .skill6 {
    width: 55%;
  }

  .skill7 {
    width: 75%;
  }

  .skill_wrapT  {
    width: 30%;
    font-family: "Lexend";
    margin-top: -25.7%;
    margin-left: 40%;
  }

  .skill_wrapT p {
    font-weight: 300;
  }
  
  .skill_T {
    margin-bottom: 4%;
    position: relative;
    overflow-x: hidden;
  }
  
  .skill_T  p {
    font-size: calc(0.8rem + 0.8vw);
    color: #D6D6D6;
    margin: 0;
  }
  
  .skill_T:before {
    width: 100%;
    height: 10px;
    content: "";
    display: block;
    position: absolute;
    background: #D6D6D6;
    bottom: 0;
    opacity: 30%;
    border-radius: 5px;
  }
  
  .skill-barT {
    width: 100%;
    height: 10px;
    background: #F58F7C;
    display: block;
    position: relative;
    border-radius: 5px;
  }
  
  .skill-barT span {
    position: absolute;
    border-top: 5px solid #F58F7C;
    color: #D6D6D6;
    top: -30px;
    padding: 0;
    font-size: 18px;
    padding: 3px 0;
    font-weight: bold;
  }
  
  .skill-barT {
    position: relative;
  }
  
  .skill1T {
    width: 90%;
  }
  
  .skill2T {
    width: 90%;
  }
  
  .skill3T {
    width: 60%;
  }
  
  .skill4T {
    width: 50%;
  }
  
  .skill5T {
    width: 80%;
  }
  
  .skill6T {
    width: 20%;
  }

  .skill7T {
    width: 20%;
  }

  #techH {
    margin-left: 40%;
    margin-top: -2%;
    padding-bottom: 1%;
  }

#Projects_Page {
    margin-top: 8%;
    padding-left: 5%;
}

.project_card{
  margin-top: 8%;
}

.project_card p{
    background-color: #d9d9d9;
    width: 60%;
    height: 30%;
    border-radius: 10px;
    font-size: calc(1.0rem + 1.0vw);
    padding: 1%;
    margin-top: 1%;
}

.card_description {
  position: absolute;
  text-align: left;
  color: #2C2B30;
  z-index: 1;
}

.project_img {
  z-index: -1;
  background-color: #F58F7C;
  width: 40%;
  height: 50%;
  border-radius: 10px;
  font-size: calc(0.8rem + 0.8vw);
  position: relative;
  margin-left: 50%;
  margin-top: -4%;
}

.card_tech h2{
  position: relative;
  text-decoration: none;
  background-color: none;
  font-weight: 200;
  margin-left: 42%;
  text-align: center;
}
